.intro {
  max-width: 690px;
  margin: 92px auto 92px 148px;
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 40px auto 33px auto;
}

.intro__list {
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: white;
  margin: 0;
  padding: 0;
}

.intro__span-accent {
  font-weight: normal;
}