.place {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 984px;
  margin: 0 auto;
}

.place__column {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}

.place__column:nth-last-of-type(1) {
  margin-top: 30px;
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  margin-bottom: 48px;
}

.place__image {
  width: 100%;
}

.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: white;
  margin-bottom: 26px;
}

.place__url-heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  margin: 12px 0 48px 0;
  transition: opacity 0.1s;
}

.place__link:hover {
  opacity: 0.6;
}