.header__lang-links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    padding-bottom: 5px;
  }
}